*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: grey;
}

p {
    font-size: 1em;
}

header {
    padding: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
}

header h1 {
    display: inline-block;
    font-size: 2.5em;
}

header h1 span {
    color: #d9dcd6;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    margin: 0 auto;
    max-width: 1124px;
}

section {
    width: 75%;
    height: 100%;
    display: inline-block;
    margin-left: 2%;
    max-width: 866px;
}

section article{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;  
    background-color: #0072bb;
    margin-bottom: 20px;
    margin-right: 1rem;
    padding: 20px;
    width: 100%;
    height: 20rem;
}

section img {
   width: 50%;
    max-width: 350px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

aside {
    float: right;
    clear: left;
    margin-left: .5%;
    padding: 20px;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
    max-width: 180px;
    min-width: 160px;
}
@media only screen and (max-width: 750px){
    aside {
        margin: 0 auto 32px auto;
        float: none;
    }
}

aside h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

aside img {
    display: block;
    margin: 1% auto;
    width: 50%;
    min-width: 80px;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 2em;
}
